@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,500;1,600;1,700&display=swap');

.navbar-container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
    background-color:white;
    overflow-x: hidden;
}
.leftnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.rightnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}